[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
librosa = "*"
numpy = "*"
matplotlib = "*"
pyqt5 = "*"
pandas = "*"
seaborn = "*"
ipython = "*"
keras = "*"
tensorflow = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python main.py"
cut = "python -u cut-video.py"
